body {
    max-width: 1360px;
}
#ai-img{
    width: 1360px;
}
#header-div , #ai-img{
    height: 600px;
}

.dark-image {
    filter: brightness(0.4); /* Adjust the brightness value (between 0 and 1) as needed */
  }
@media screen and (max-width: 660px) {
    #ai-img{
        width: 100%;
    }
    #header-div , #ai-img{
        height: 200px;
    }
        
}